<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Creare_Photo>
			<version>0.1.0</version>
		</Creare_Photo>
	</modules>
	<frontend>
		<routers>
			<photo>
				<use>standard</use>
				<args>
					<module>Creare_Photo</module>
					<frontName>photo</frontName>
				</args>
			</photo>
		</routers>
	</frontend>
	<global>
		<blocks>
		    <photo>
		        <class>Creare_Photo_Block</class>
		    </photo>
		</blocks>
		<helpers>
		    <photo>
		        <class>Creare_Photo_Helper</class>
		    </photo>
		</helpers>
		<models>
            <photo>
                <class>Creare_Photo_Model</class>
                <resourceModel>photo_resource</resourceModel>
            </photo>
            <photo_resource>
                <class>Creare_Photo_Model_Resource</class>
                <entities>
                    <photograph>
                        <table>photo_photograph</table>
                    </photograph>
                </entities>
            </photo_resource>
		</models>
		<resources>
	        <photo_setup>
	            <setup>
	                <module>Creare_Photo</module>
	                <class>Creare_Photo_Model_Resource_Setup</class>
	            </setup>
	        </photo_setup>
		</resources>
	</global>
	<admin>
	    <routers>
	      <adminhtml>
	        <args>
	          <modules>
	            <photo before="Mage_Adminhtml">Creare_Photo_Adminhtml</photo>
	          </modules>
	        </args>
	      </adminhtml>
	    </routers>
  	</admin>
  	<adminhtml>
        <layout>
          <updates>
            <photo>
              <file>photo.xml</file>
            </photo>
          </updates>
        </layout>
    </adminhtml>
</config>