<?<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Mymodule_Tag>
			<version>0.1.0</version>
		</Mymodule_Tag>
	</modules>
	<global>
		<blocks>
			<tag>
				<rewrite>
					<product_list>Mymodule_Tag_Block_Product_List</product_list>
				</rewrite>
			</tag>
		</blocks>
	</global>
</config>